<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Flask\templates\Style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Amar Biradar</title>


</head>
<body class="blockquote ">
   
    {% include 'navbar.html' %}

    <figure>
        <blockquote class="blockquote">
          <h3>Amar Biradar</h3>
        </blockquote>
        <figcaption class="blockquote-footer">
          Software Quality Assurance
        </figcaption>
      </figure>
      <p class="h6">kellton Hyderabad,Telangana</p>


    <h2>Introduction</h2>
      <div >
        <ul>
            <li>Dedicated and detail-oriented Software Quality Assurance professional</li>  
             <li>Strong understanding of test requirements, test scenario derivation, and test case documentation</li>
             <li>Proficient in test execution, reporting, and continuously developing testing skills</li>
             <li>Skilled in programming languages: Java, Python, HTML, CSS, and JavaScript</li>
             <li>Expertise in test automation using Cypress</li>
             <li>Familiar with all phases of the Software Development Life Cycle (SDLC) and Software Test Life Cycle (STLC)</li>
             <li>Experienced in both functional and non-functional testing</li>
             <li>Excellent interpersonal skills</li>
             <li>Quick learner, adaptable, and process-oriented</li>
             <li>Customer-oriented with a focus on high-quality deliverables</li>

        </ul>

        <h2>Experience</h2>
            
     
       

      </div>
        
           

    
</body>
</html>